// Styling for the About us
#about{
	background: #0E1117;
	color: #fff;
	font-family: $font-family-base;
	letter-spacing: 1px;
	h2, h4{
		font-weight: 300;
		letter-spacing: 3px;
	}
}

.testimonial{
	.person{
	margin: 0px 24px;
	border: 8px solid yellow;
	height: 300px;	
	}
	img{
		height: 64px;
		width: 64px;
		text-align: left;
		position: absolute;
		margin: 234px 110px;
		border: 8px solid #0E1117;
		border-radius: 16px;
	}
}