#services {
	background: #090A0A;
	color: #fff;
<<<<<<< HEAD
	font-family: $font-family-base;
=======
>>>>>>> b5ea53778a48423595aef328c00fa99848ae9280
	letter-spacing: 1px;
	h2, h4{
		font-weight: 300;
		letter-spacing: 3px;
	}
    .row {
        .col-md-4:hover .fa-stack {
            color: #fff !important;
            transition: 0.9s;
            transform: rotate(180deg);
        }
        .col-md-4 .fa-stack{
        transition: all .5s ease-in-out;}
    }
}