// Override Bootstrap color system

$yellow: #FAC748;
$dark: #090A0A;
// Override Bootstrap default state colors

$primary: $yellow;
$secondary: $dark;

// Override Bootstrap yiq lightness value

$yiq-contrasted-threshold: 205;
